body{
  background-color: rgb(62, 62, 62);
  border-radius: 5px;
}
h2{
  color:aqua;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  height: 15px;

}
.description{
  color: aliceblue;
  padding: 15px;
  height:auto;
}

.autor{
  color: aqua;
  padding: 15px;
  height:auto;
}
