
<body>
  <h2>Ejercicios TOP</h2>
<div class="info">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, dolor inventore eveniet asperiores veritatis rerum iste eos quo, quis commodi accusantium, quidem animi! Fugit assumenda quod modi enim, velit autem.</p>
  <img class="iguazu" src="./assets/img/11.jpg"
  alt="Cataratas Iguazu vista">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident eligendi expedita quam doloribus sint soluta nostrum at quasi, numquam nam sunt ullam accusamus dolorem enim distinctio? Provident exercitationem nihil libero.</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam nam saepe sed, illum reiciendis quae aspernatur facere officia? Vel minima quaerat rem itaque temporibus, asperiores culpa accusantium! Neque, totam repellat!</p>
</div>

<div class="lateral">
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia perspiciatis autem, iure voluptas corporis ad praesentium sint fugit libero iusto recusandae ea vel. Error consectetur possimus veniam non, rem minus!</p>

</div>
</body>

